* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    margin: 10px auto;
    border: 2px solid #555;
    border-radius: 20px;
    background-color: #fff;
}

h1 {
    padding: 10px;
}

figure {
    margin: 0 0 20px 0;
}

img {
    display: block;
    max-width: 100%;
}

main {
    max-width: 600px;
    padding: 5px;
    height: auto;
    margin: auto;
    background-color: #fff;
    box-shadow: 2px  2px 2px #888;
}

li {
    list-style: none;
    line-height: 1.7em;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin: 30px auto;
    background-color: #fff;
}